button {
  margin: 25px 5px 20px 20px;
  padding: 5%;
  font-size: 32px;
}

div {
  font-size: 42px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

strong {
  color: green;
}

em {
  color: red;
}