.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

button {
  flex: 1 1 1;
  margin: 4% 5px 4% 20px;
  padding: 5%;
}

div {
  text-align: center;
  align-self: center;
  font-size: 64px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

strong {
  color: green;
}

em {
  color: red;
}

.photo {
  width: 400px;

}